In [2]:
import pandas as pd
from pathlib import Path

In [3]:
RAW_DATA_DIR = Path('../raw_data/')
DATA_DIR = Path('../data/')

In [4]:
# list here only the datasets we want to use in the modelling part
# use tuple with (Path, name of zipcode column in dataset)

datasets = [
    (DATA_DIR / '2018_2021' / 'disaster_trends_by_zip_2022.csv', 'ZIP'),
    (DATA_DIR / '2018_2021' / 'fair_plan2022.csv', 'ZIP Code'),
    (DATA_DIR / '2018_2021' / 'median_incomes_flat.csv', 'ZIP'),
    (DATA_DIR / '2018_2021' / 'percent_white_population_flat.csv', 'ZIP'),
    (DATA_DIR / '2018_2021' / 'policy_renewals.csv', 'ZIP Code'),
    (DATA_DIR / '2018_2021' / 'premiums_claims.csv', 'ZIP Code'),
    (DATA_DIR / '2018_2021' / 'Zillow_df_filtered.csv', 'zipcode')
    (DATA_DIR / '2018_2021' / 'housing21.csv', 'zipcode')
]

datasets

<>:11: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:11: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\lbarleta\AppData\Local\Temp\ipykernel_36732\182310204.py:11: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (DATA_DIR / '2018_2021' / 'Zillow_df_filtered.csv', 'zipcode')

TypeError: 'tuple' object is not callable

In [10]:
# loading all datasets

renewals = pd.read_csv(DATA_DIR / '2018_2021' / 'policy_renewals.csv', index_col=0)
premiums = pd.read_csv(DATA_DIR / '2018_2021' / 'premiums_claims.csv', index_col=0)
fair = pd.read_csv(DATA_DIR / '2018_2021' / 'fair_plan2022.csv', index_col=0)
income = pd.read_csv(DATA_DIR / '2018_2021' / 'median_incomes_flat.csv', index_col=0).rename(columns={'ZIP': 'ZIP Code'})
race = pd.read_csv(DATA_DIR / '2018_2021' / 'percent_white_population_flat.csv', index_col=0).rename(columns={'ZIP': 'ZIP Code'})
housing = pd.read_csv(DATA_DIR / '2018_2021' / 'Zillow_df_filtered.csv', index_col=0).reset_index().rename(columns={'zipcode': 'ZIP Code'})
disasters = pd.read_csv(DATA_DIR / '2018_2021' / 'disaster_summary_by_zip.csv').rename(columns={'ZIP': 'ZIP Code'})
housing2 = pd.read_csv(DATA_DIR / '2018_2021' / 'housing21.csv')

In [12]:
df = pd.merge(premiums, renewals, on='ZIP Code')
df = pd.merge(df, fair, on='ZIP Code')
df = pd.merge(df, income, on='ZIP Code')
df = pd.merge(df, race, on='ZIP Code')
df = pd.merge(df, housing, on='ZIP Code')
df = pd.merge(df, housing2, on='ZIP Code')
df = pd.merge(df, disasters, on='ZIP Code', how='left')

df

,ZIP Code,earned_premium,earned_exposure,fire_smoke_claims,fire_smoke_losses,growth_exposure,growth_premium,growth_fire_smoke_claims,growth_fire_smoke_losses,ratio_losses_to_premium,...,median_ownership_cost,median_home_value,Count_2022,Sum_1yr,Avg_3yr,Sum_3yr,Avg_5yr,Sum_5yr,Avg_10yr,Sum_10yr
0,90001,15005153,34015,126,4157573.0,0.217780,0.460404,0.283333,-0.352704,0.277076,...,427.0,425200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90002,15336299,31620,95,3793822.0,0.059597,0.266116,-0.357143,-0.595781,0.247375,...,465.0,411500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90003,20549601,40859,133,4313440.0,0.069607,0.304515,1.333333,0.990114,0.209904,...,555.0,430800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90004,39605615,40942,48,3316605.0,0.208670,0.343416,-0.083333,0.725764,0.083741,...,829.0,1148400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90005,13665743,22208,16,885674.0,0.398915,0.383152,-0.142857,10.788063,0.064810,...,1123.0,964700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,96145,32175843,16544,11,679976.0,0.251350,0.810447,-1.000000,-1.000000,0.021133,...,876.0,785700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1276,96146,14794212,8276,6,496222.0,0.292165,0.944032,-1.000000,-1.000000,0.033542,...,920.0,1203900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,96148,5871798,3770,9,3092298.0,0.190595,0.714927,0.714286,287.782597,0.526636,...,646.0,681100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,96150,93760320,73114,898,23342320.0,0.176154,0.635895,15.122449,6.053769,0.248957,...,667.0,488200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,96161,116696623,64403,64,6821664.0,0.226978,0.828659,0.400000,0.442505,0.058456,...,913.0,653600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# filling data related to disaster to 0
fields = ['Count_2022', 'Sum_1yr', 'Avg_3yr', 'Sum_3yr', 'Avg_5yr', 'Sum_5yr', 'Avg_10yr', 'Sum_10yr']
df[fields] = df[fields].fillna('0')

In [14]:
df

,ZIP Code,earned_premium,earned_exposure,fire_smoke_claims,fire_smoke_losses,growth_exposure,growth_premium,growth_fire_smoke_claims,growth_fire_smoke_losses,ratio_losses_to_premium,...,median_ownership_cost,median_home_value,Count_2022,Sum_1yr,Avg_3yr,Sum_3yr,Avg_5yr,Sum_5yr,Avg_10yr,Sum_10yr
0,90001,15005153,34015,126,4157573.0,0.217780,0.460404,0.283333,-0.352704,0.277076,...,427.0,425200.0,0,0,0,0,0,0,0,0
1,90002,15336299,31620,95,3793822.0,0.059597,0.266116,-0.357143,-0.595781,0.247375,...,465.0,411500.0,0,0,0,0,0,0,0,0
2,90003,20549601,40859,133,4313440.0,0.069607,0.304515,1.333333,0.990114,0.209904,...,555.0,430800.0,0,0,0,0,0,0,0,0
3,90004,39605615,40942,48,3316605.0,0.208670,0.343416,-0.083333,0.725764,0.083741,...,829.0,1148400.0,0,0,0,0,0,0,0,0
4,90005,13665743,22208,16,885674.0,0.398915,0.383152,-0.142857,10.788063,0.064810,...,1123.0,964700.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,96145,32175843,16544,11,679976.0,0.251350,0.810447,-1.000000,-1.000000,0.021133,...,876.0,785700.0,0,0,0,0,0,0,0,0
1276,96146,14794212,8276,6,496222.0,0.292165,0.944032,-1.000000,-1.000000,0.033542,...,920.0,1203900.0,0,0,0,0,0,0,0,0
1277,96148,5871798,3770,9,3092298.0,0.190595,0.714927,0.714286,287.782597,0.526636,...,646.0,681100.0,0,0,0,0,0,0,0,0
1278,96150,93760320,73114,898,23342320.0,0.176154,0.635895,15.122449,6.053769,0.248957,...,667.0,488200.0,0,0,0,0,0,0,0,0
1279,96161,116696623,64403,64,6821664.0,0.226978,0.828659,0.400000,0.442505,0.058456,...,913.0,653600.0,0,0,0,0,0,0,0,0

In [15]:
df.sample(3)

,ZIP Code,earned_premium,earned_exposure,fire_smoke_claims,fire_smoke_losses,growth_exposure,growth_premium,growth_fire_smoke_claims,growth_fire_smoke_losses,ratio_losses_to_premium,...,median_ownership_cost,median_home_value,Count_2022,Sum_1yr,Avg_3yr,Sum_3yr,Avg_5yr,Sum_5yr,Avg_10yr,Sum_10yr
463,92567,9437122,9822,24,1109255.0,0.045019,0.247872,0.400000,54.530683,0.117542,...,625.0,379400.0,2.0,0.0,2.0,4.0,1.75,7.0,1.833333,11.0
798,94508,6507385,4028,143,15807645.0,0.139935,0.873419,-1.000000,NaN,2.429185,...,556.0,684400.0,0,0,0,0,0,0,0,0
357,92131,64750284,55868,44,2340654.0,0.057527,0.402816,-0.428571,-0.516087,0.036149,...,957.0,885500.0,0,0,0,0,0,0,0,0

In [16]:
df.to_csv(DATA_DIR / '2018_2021' / 'consolidated_dataset.csv')