# <a id='toc1_'></a>[Data Prep and Cleanup](#toc0_)

Our project examines the potential loss of homeowner insurance coverage due to climate disasters, evaluating how different sectors of society are affected by this process. To do so, we compiled in this notebook several datasets produced by different organizations, particularly focusing on data relatd to insurance, population, housing, and climate disaster, to generate a base dataset for our analysis. Given to the availability of data, we focus on California, having its residential zipcodes as our observations.

In this notebook, we will:
- load datasets 
- perform basic clean-up tasks
- add basic new features
- standardize feature names
- generate base dataset for the project's next steps

**Table of contents**<a id='toc0_'></a>    
- [Data Prep and Cleanup](#toc1_)    
  - [Census Data](#toc1_1_)    
    - [TODO: Demographic](#toc1_1_1_)    
    - [Housing (2021)](#toc1_1_2_)    
  - [Insurance Data](#toc1_2_)    
    - [Renewals](#toc1_2_1_)    
    - [Premiums, Claims, and Losses](#toc1_2_2_)    
    - [FAIR Plan (2022)](#toc1_2_3_)    
  - [Zillow Data (Housing Value Index)](#toc1_3_)    
  - [TODO: Disaster Data](#toc1_4_)    
- [OLD CODE](#toc2_)    
  - [FAIR Plan 2 (2020-2024)](#toc2_1_)    
  - [FEMA Projected Premium Increases (2021, 2025)](#toc2_2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [35]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [36]:
# base folders
RAW_DATA_DIR = Path('../raw_data/')
CLEAN_DATA_DIR = Path('../clean_data/')

In [37]:
# years to slice the data
start_year = 2018
end_year = 2021

## <a id='toc1_1_'></a>[Census Data](#toc0_)


ACS5?

TODO: add description here

### <a id='toc1_1_1_'></a>[Demography](#toc0_)

TODO: add description

In [38]:
# Median Income
median_income = pd.read_csv(RAW_DATA_DIR / 'median_incomes_flat.csv', index_col=0)

median_income.columns = ['ZIP Code', 'Avg Median Income', '% Avg Change Median Income', '% Change Median Income']

median_income['ZIP Code'] = median_income['ZIP Code'].astype(str)
median_income = median_income[['ZIP Code', 'Avg Median Income', '% Change Median Income']]

median_income.set_index('ZIP Code', inplace=True)
median_income

          Avg Median Income  % Change Median Income
ZIP Code
90001          48115.285714                0.703617
90002          43639.714286                0.651706
90003          44032.857143                0.592610
90004          53401.000000                0.345076
90005          42199.000000                0.625181
...                     ...                     ...
96145          94609.857143                0.702736
96146          88706.857143                0.561384
96148          80547.857143                0.167422
96150          65445.428571                0.578176
96161         104497.142857                0.442738

[1475 rows x 2 columns]

In [39]:
# Race 
# Note: we use percentage of "white-only" population as a proxy race

white_pop = pd.read_csv(RAW_DATA_DIR / 'percent_white_population_flat.csv', index_col=0)

white_pop.columns = ['ZIP Code', 'Avg % White-only Pop', '% Avg Change % of White-only Pop', '% Change White-only Pop']

white_pop['ZIP Code'] = white_pop['ZIP Code'].astype(str)
white_pop = white_pop[['ZIP Code', 'Avg % White-only Pop', '% Change White-only Pop']]

white_pop.set_index('ZIP Code', inplace=True)
white_pop.sample(5)

          Avg % White-only Pop  % Change White-only Pop
ZIP Code
90023                45.857143                    -16.4
95465                71.442857                    -10.8
92259                52.728571                    -34.7
95215                49.414286                    -18.8
95009                40.714286                    -12.3

### <a id='toc1_1_2_'></a>[Housing (2021)](#toc0_)

*** IMPORTANT NOTE: Median Home Value is capped at $2,000,001 (censored data)

In [40]:
# number of housing units
housing_units = pd.read_csv(RAW_DATA_DIR / 'Housing Units in Census Zip Code Tabulation Areas of California (2021).csv')
housing_units = housing_units[['Entity properties name', 'Variable observation value']]
housing_units.columns=['ZIP Code', 'Housing Units']
housing_units.set_index('ZIP Code', inplace=True)

# median gross rent
gross_rent = pd.read_csv(RAW_DATA_DIR / 'Median Gross Rent of Housing Unit_ With Cash Rent in Census Zip Code Tabulation Areas of California (2021).csv')
gross_rent = gross_rent[['Entity properties name', 'Variable observation value']]
gross_rent.columns=['ZIP Code', 'Median Gross Rent ($)']
gross_rent.set_index('ZIP Code', inplace=True)

# median ownership costs
# Note: This dataset contains the median cost of housing units without mortgage
owner_cost = pd.read_csv(RAW_DATA_DIR / 'Median Cost of Housing Unit (Selected Monthly Owner Costs)_ Without Mortgage in Census Zip Code Tabulation Areas of California (2021).csv')
owner_cost = owner_cost[['Entity properties name', 'Variable observation value']]
owner_cost.columns=['ZIP Code', 'Median Owner Cost ($)']
owner_cost.set_index('ZIP Code', inplace=True)

# median home value
home_value = pd.read_csv(RAW_DATA_DIR / 'Median Home Value of Housing Unit_ Occupied Housing Unit, Owner Occupied in Census Zip Code Tabulation Areas of California (2021).csv')
home_value = home_value[['Entity properties name', 'Variable observation value']]
home_value.columns=['ZIP Code', 'Median Home Value - Census ($)']
home_value.set_index('ZIP Code', inplace=True)

housing = pd.concat([housing_units, gross_rent, owner_cost, home_value], axis=1).dropna()
housing.index = housing.index.astype(str)

In [41]:
housing.sample(3)

,Housing Units,Median Gross Rent ($),Median Owner Cost ($),Median Home Value - Census ($)
ZIP Code,,,,
90290,2427,3501.0,886.0,1184900.0
94930,4080,2106.0,914.0,927100.0
95832,3264,1586.0,488.0,319400.0

## <a id='toc1_2_'></a>[Insurance Data](#toc0_)

California requires insurers with written premiums above of $10 million to submit a biennial report to the Insurance Commissioner with its residential property experience data for the previous two years. The data is processed by the Department of Insurance and the aggregates are published at zipcode level, including information about the number of policies, renewals, premiums, and losses. In this project, we used the following datasets:

- [New, renewed, and non-renewed insurance policies, 2015-2021](https://www.insurance.ca.gov/01-consumers/200-wrr/upload/Residential-Insurance-Policy-Analysis-by-County-2015-to-2021-2.pdf) 
- [Earned premiums, claims, and losses in residential units, 2018-2023](https://www.insurance.ca.gov/01-consumers/200-wrr/WildfireRiskInfoRpt.cfm)

Besides "regular" insurance data, we also include information about California's FAIR Plan. The California FAIR Plan provides basic insurance coverage for high-risk properties when traditional insurance companies will not. It has recently expanded to offer higher coverage limits of $3 million for residential policyholders and $20 million for commercial policies per location, serving as a safety net for properties that can't obtain coverage in the standard insurance market. The available data comes from these two datasets:
- [Residential Structures Insured under a FAIR Plan Policy, 2022](https://www.insurance.ca.gov/01-consumers/200-wrr/upload/Number-of-Residential-Dwelling-Units-Insured-in-2022-FAIR-Plan-vs-Voluntary.pdf)
- [Residential policies  by the program, 2020-2024](https://www.cfpnet.com/wp-content/uploads/2024/11/CFP5yearPIFGrowthbyzipcodethrough09302024(Residential%20line)20241112v001.pdf)
- [Residential exposure covered by the program, 2020-2024](https://www.cfpnet.com/wp-content/uploads/2024/11/CFP5yearTIVGrowthbyzipcodethrough09302024(Residentialline)20241112v001.pdf)

*** IMPORTANT NOTE: the best available data covers only 2022, and will be used a the target for our model ***

### <a id='toc1_2_1_'></a>[Renewals](#toc0_)

In [42]:
# loading and performing initial processing on the renewals data
renewals = pd.read_excel(RAW_DATA_DIR / 'Residential-Property-Voluntary-Market-New-Renew-NonRenew-by-ZIP-2015-2021.xlsx', dtype={'ZIP Code': str})

# removing zipcodes not associated with a county
renewals = renewals[renewals['County'].isnull() == False]

# keeping only columns of interest and renaming
cols = ["ZIP Code", "Year", "New", "Renewed", "Insured-Initiated Nonrenewed", "Insurer-Initiated Nonrenewed"]
renewals = renewals[cols].copy()

renaming = {
    'New' : 'New Policies',
    'Renewed': 'Renewed Policies',
    'Insured-Initiated Nonrenewed': 'Nonrenewed Policies (by Owner)',
    'Insurer-Initiated Nonrenewed': 'Nonrenewed Policies (by Company)',
}

renewals.rename(columns=renaming, inplace=True)

renewals.sample(3)

,ZIP Code,Year,New Policies,Renewed Policies,Nonrenewed Policies (by Owner),Nonrenewed Policies (by Company)
1295,93628,2015,9,169,12,3
993,92850,2015,0,1,0,0
8823,95654,2018,0,0,0,0

The original dataset provides raw counts of policy renewals and includes multiple years. Based on this information, we can calculate some extra features, including the relative importance of each count (i.e., percentages) and their change over time.

In [43]:
# number of non-renewed policies and  expiring policies (or contracts up to renewal) 
renewals['Nonrenewed Policies'] = renewals['Nonrenewed Policies (by Owner)'] + renewals['Nonrenewed Policies (by Company)']
renewals['Expiring Policies'] = renewals['Nonrenewed Policies'] + renewals['Renewed Policies']

In [44]:
# filtering years of interest
cond1 = renewals['Year'] >= start_year
cond2 = renewals['Year'] <= end_year

renewals_filtered = renewals.loc[cond1 & cond2].copy()
renewals_filtered = renewals_filtered.groupby('ZIP Code', as_index=False).sum()
renewals_filtered.drop(columns='Year', inplace=True)

renewals_filtered.sample(3)

,ZIP Code,New Policies,Renewed Policies,Nonrenewed Policies (by Owner),Nonrenewed Policies (by Company),Nonrenewed Policies,Expiring Policies
802,92823,839,5162,585,174,759,5921
2101,96061,100,557,55,33,88,645
1535,95115,0,4,0,0,0,4

In [45]:
# percentage of non-renewed policies of the expiring policies
renewals_filtered['% Nonrenewed Policies'] = renewals_filtered['Nonrenewed Policies'] / renewals_filtered['Expiring Policies']

# percentage of policies not-renewals by the initiative of the owner or company
renewals_filtered['% Nonrenewed Policies (by Owner)'] = renewals_filtered['Nonrenewed Policies (by Owner)'] / renewals_filtered['Expiring Policies']
renewals_filtered['% Nonrenewed Policies (by Company)'] = renewals_filtered['Nonrenewed Policies (by Company)'] / renewals_filtered['Expiring Policies']

renewals_filtered.sample(3)

,ZIP Code,New Policies,Renewed Policies,Nonrenewed Policies (by Owner),Nonrenewed Policies (by Company),Nonrenewed Policies,Expiring Policies,% Nonrenewed Policies,% Nonrenewed Policies (by Owner),% Nonrenewed Policies (by Company)
304,91602,1338,9368,1086,212,1298,10666,0.121695,0.101819,0.019876
452,92082,3605,18068,2110,1521,3631,21699,0.167335,0.097240,0.070095
1413,94706,1437,16864,1229,186,1415,18279,0.077411,0.067236,0.010176

In [46]:
# # TODO: move this one to feature engineering section

# # ratio of new policies to non-renewed policies
# renewals_filtered['ratio_new_to_nonrenewed'] = renewals_filtered['new_policies'] / (renewals_filtered['owner_nonrenewed'] + renewals_filtered['company_nonrenewed'])

In [47]:
# calculating change over time based on the start and end years
cond1 = renewals['Year'] == start_year
cond2 = renewals['Year'] == end_year

renewals_change = renewals[cond1 | cond2].copy().sort_values(['ZIP Code', 'Year']).set_index('ZIP Code')

renewals_change = renewals_change.groupby(['ZIP Code']).pct_change().dropna().copy().drop(columns='Year')
renewals_change.replace([np.inf, -np.inf], np.nan, inplace=True)

renewals_change.columns = ['% Change - ' + col for col in renewals_change.columns]
renewals_change.reset_index(inplace=True)
renewals_change.sample(3)

,ZIP Code,% Change - New Policies,% Change - Renewed Policies,% Change - Nonrenewed Policies (by Owner),% Change - Nonrenewed Policies (by Company),% Change - Nonrenewed Policies,% Change - Expiring Policies
537,92596,0.442039,0.141955,0.263359,0.636872,0.317848,0.169354
38,90042,0.213000,0.030972,0.243207,0.098901,0.214597,0.048351
1104,94970,0.313725,-0.009804,-0.019608,2.111111,0.300000,0.022807

In [48]:
# merging datasets 
renewals_change['ZIP Code'] = renewals_change['ZIP Code'].astype(str)
renewals_filtered['ZIP Code'] = renewals_filtered['ZIP Code'].astype(str)

renewals_reworked = pd.merge(renewals_filtered, renewals_change, on='ZIP Code')
renewals_reworked.set_index('ZIP Code', inplace=True)
renewals_reworked.sample(3)

,New Policies,Renewed Policies,Nonrenewed Policies (by Owner),Nonrenewed Policies (by Company),Nonrenewed Policies,Expiring Policies,% Nonrenewed Policies,% Nonrenewed Policies (by Owner),% Nonrenewed Policies (by Company),% Change - New Policies,% Change - Renewed Policies,% Change - Nonrenewed Policies (by Owner),% Change - Nonrenewed Policies (by Company),% Change - Nonrenewed Policies,% Change - Expiring Policies
ZIP Code,,,,,,,,,,,,,,,
92061,440,1944,322,178,500,2444,0.204583,0.131751,0.072831,0.428571,-0.052941,0.350649,2.416667,0.629213,0.048414
91941,4125,35453,3600,712,4312,39765,0.108437,0.090532,0.017905,0.092357,-0.026254,0.182266,0.445205,0.222338,-0.002312
92253,11516,58296,9578,1453,11031,69327,0.159115,0.138157,0.020959,0.221793,0.011146,0.256132,0.326154,0.265440,0.047957

### <a id='toc1_2_2_'></a>[Premiums, Claims, and Losses](#toc0_)

This dataset covers certain types of residential policies (Dwelling Fire policies, Homeowners policies, Earthquake policies) and include information about total earned premiums as well as number of claims and total losses paid by insurance companies for fire- and smoke-related incidents.  Similar to renewal data, we will compute the aggregate values and percentage changes for the timespan of interest.

Note: The column "Total Exposure" seems to contain problematic data. The value for total exposure--the amount covered by the insurers--is much smaller than premiums they received in a particular zipcode, which doesn't make sense. Therefore, we're removing the data.

In [49]:
premiums = pd.read_excel(RAW_DATA_DIR / 'Residential-Property-Coverage-Amounts-Wildfire-Risk-and-Losses.xlsx', sheet_name='Cleaned', header=3)

# removing "Grand total" and "County" rows from the dataset 
premiums = premiums[premiums.Zipcode.apply(type) == int]

# getting columns for claims (n.) and losses ($)
cols_claim = []
cols_losses = []

for col in premiums.columns[6:]:
    if col[-6:] == 'Claims':
        cols_claim.append(col)
    else:
        cols_losses.append(col)

# calculating total numbers of claims and values in losses
premiums['Claims (Fire and Smoke)'] = premiums[cols_claim].sum(axis=1)
premiums['Losses (Fire and Smoke) ($)'] = premiums[cols_losses].sum(axis=1)

# keeping only the columns of interest
cols = ['Zipcode', 'Year', 'Earned Premium', 'Claims (Fire and Smoke)', 'Losses (Fire and Smoke) ($)']

# filtering and renaming columns
premiums = premiums[cols].rename(columns={'Zipcode': 'ZIP Code', 'Earned Premium': 'Earned Premium ($)'})
premiums['ZIP Code'] = premiums['ZIP Code'].astype(str)
premiums.sample(3)

,ZIP Code,Year,Earned Premium ($),Claims (Fire and Smoke),Losses (Fire and Smoke) ($)
39153,90222,2021,359650,3,148857.0
30411,93240,2020,1194128,3,77710.0
40860,95458,2021,145362,0,0.0

In [50]:
# calculating the aggregate values for the timespan
cond1 = premiums['Year'] >= start_year
cond2 = premiums['Year'] <= end_year

premiums_aggs = premiums[cond1 & cond2].groupby(['ZIP Code']).sum().reset_index()
premiums_aggs = premiums_aggs.drop(columns=['Year'])

premiums_aggs.sample(3)

,ZIP Code,Earned Premium ($),Claims (Fire and Smoke),Losses (Fire and Smoke) ($)
1820,95212,28152983,63,4037077.0
2315,95974,308306,0,0.0
1428,94085,11649411,18,985065.0

In [51]:
# filtering years and getting growth
cond1 = premiums['Year'] == start_year
cond2 = premiums['Year'] == end_year

# creating pivot table with start and end years
premiums_pivot = pd.pivot_table(premiums[cond1 | cond2], index='ZIP Code', columns='Year').dropna()
premiums_pivot.columns = [f'{str(s[1])}_{s[0]}' for s in premiums_pivot.columns]
premiums_pivot = premiums_pivot.reset_index()

# calculating growth
premiums_pivot['% Change - Earned Premiums'] = premiums_pivot[['2018_Earned Premium ($)', '2021_Earned Premium ($)']].pct_change(axis=1).iloc[:, 1]
premiums_pivot['% Change - Claims (Fire and Smoke)'] = premiums_pivot[['2018_Claims (Fire and Smoke)', '2021_Claims (Fire and Smoke)']].pct_change(axis=1).iloc[:, 1]
premiums_pivot['% Change - Losses (Fire and Smoke)'] = premiums_pivot[['2018_Losses (Fire and Smoke) ($)', '2021_Losses (Fire and Smoke) ($)']].pct_change(axis=1).iloc[:, 1]

premiums_pivot.replace([np.inf, -np.inf], np.nan, inplace=True)
premiums_pivot.sample(3)

,ZIP Code,2018_Claims (Fire and Smoke),2021_Claims (Fire and Smoke),2018_Earned Premium ($),2021_Earned Premium ($),2018_Losses (Fire and Smoke) ($),2021_Losses (Fire and Smoke) ($),% Change - Earned Premiums,% Change - Claims (Fire and Smoke),% Change - Losses (Fire and Smoke)
1786,95669,0.857143,0.142857,1.025669e+05,1.979503e+05,68248.714286,1.628857e+03,0.929963,-0.833333,-0.976134
1910,95945,2.428571,13.714286,1.207216e+06,2.211778e+06,261584.714286,2.929872e+06,0.832132,4.647059,10.200470
19,90020,1.166667,0.285714,6.609933e+05,7.479666e+05,6678.333333,2.100714e+03,0.131580,-0.755102,-0.685443

In [52]:
df1 = premiums_pivot[['ZIP Code', '% Change - Earned Premiums', '% Change - Claims (Fire and Smoke)', '% Change - Losses (Fire and Smoke)']].copy()
df2 = premiums_aggs.copy()

premiums_reworked = pd.merge(df2, df1, on='ZIP Code')
premiums_reworked.set_index('ZIP Code', inplace=True)

premiums_reworked.sample(3)

,Earned Premium ($),Claims (Fire and Smoke),Losses (Fire and Smoke) ($),% Change - Earned Premiums,% Change - Claims (Fire and Smoke),% Change - Losses (Fire and Smoke)
ZIP Code,,,,,,
91906,4553552,10,662467.0,0.408847,-1.0,-1.0
93011,15810,0,0.0,1.079944,NaN,NaN
96133,233782,1,250.0,0.406558,NaN,NaN

In [53]:
# TODO: move this one to feature engineering section

# # ratio between losses and premium
# premiums_reworked['ratio_losses_to_premium'] = premiums_reworked['fire_smoke_losses'] / premiums_reworked['earned_premium']

### <a id='toc1_2_3_'></a>[FAIR Plan (2022)](#toc0_)

In [88]:
fair22 = pd.read_excel(RAW_DATA_DIR / 'full_residential_units_insured_2022.xlsx')

cols = ['ZIP Code', "Voluntary Market Units", "FAIR Plan Units"]
fair22 = fair22[cols]

# calculate percentages
fair22['Total Res Units'] = fair22['Voluntary Market Units'] + fair22['FAIR Plan Units']
fair22['% Market Units'] = fair22['Voluntary Market Units'] / fair22['Total Res Units']
fair22['% FAIR Plan Units'] = fair22['FAIR Plan Units'] / fair22['Total Res Units']

fair22.head(2)

,ZIP Code,Voluntary Market Units,FAIR Plan Units,Total Res Units,% Market Units,% FAIR Plan Units
0,90001,6913,2104,9017,0.766663,0.233337
1,90002,6534,1330,7864,0.830875,0.169125

Besides the 2022 dataset, California also published general information about total exposure covered by FAIR Plan policies, which we're incorporating below. It's potentially a secondary target variable.

array([90001, 90002, 90003, ..., 96155, 96158, 96161], shape=(1717,))

In [145]:
columns_exp = ['ZIP Code', 
               'growth_exp_23_24', 'exposure_24',
               'growth_exp_22_23', 'exposure_23',
               'growth_exp_21_22', 'Total Exposure ($)',
               'growth_exp_20_21', 'exposure_21',
               'exposure_20']

fair_exp = pd.read_excel(RAW_DATA_DIR / 'CFP5yearTIVGrowthbyzipcodethrough09302024(Residentialline)20241112v001_unlocked.xlsx', names=columns_exp)

# removing rows that doesn't contain actual data (totals, etc.)
from pandas.api.types import is_integer, is_number
fair_exp = fair_exp[fair_exp['ZIP Code'].apply(is_integer)].copy()

# cleaning up exposure data
def clean_exposure(value):
    try:
        return float(value)
    except ValueError:
        return np.nan
    
fair_exp['Total Exposure ($)'] = fair_exp['Total Exposure ($)'].map(clean_exposure)
fair_exp.drop(index=[1670], inplace=True)  # removing duplicated data

fair_exp.sample(3)

,ZIP Code,growth_exp_23_24,exposure_24,growth_exp_22_23,exposure_23,growth_exp_21_22,Total Exposure ($),growth_exp_20_21,exposure_21,exposure_20
163,95684,0.175,537990319,0.29,457852399,0.052,354914482.0,0.422,337276242,237229348
299,93238,0.701,126870934,0.896,74576474,0.417,39342221.0,0.701,27755891,16316702
411,90040,0.135,62555524,0.039,55113081,0.063,53028728.0,0.054,49869166,47313153

In [146]:
# merging exposure column
fair = pd.merge(fair22, fair_exp[['ZIP Code', 'Total Exposure ($)']], on='ZIP Code')
fair['ZIP Code'] = fair['ZIP Code'].astype(str)
fair.set_index('ZIP Code', inplace=True)

In [147]:
fair.sample(3)

,Voluntary Market Units,FAIR Plan Units,Total Res Units,% Market Units,% FAIR Plan Units,Total Exposure ($)
ZIP Code,,,,,,
91605,7114,298,7412,0.959795,0.040205,125624573.0
95123,14175,7,14182,0.999506,0.000494,4007959.0
95358,6507,10,6517,0.998466,0.001534,3475629.0

## <a id='toc1_3_'></a>[Zillow Data (Housing Value Index)](#toc0_)

Zillow Housing Value Index (ZHVI), overall, represents the “typical” home value for a region. It’s calculated as a weighted average of the middle third of homes in a given region--therefore, it reflects the typical value for homes in the 35th to 65th percentile range.

The base dataset can be found here (https://www.zillow.com/research/data/) with the Data Type: "ZHVI All Homes (SFR, Condo/Co-Op) Time Series, Smoothed, Seasonally Adjusted($)" and "Zip Code" for "Geography." Additional information about ZHVI is available [here](https://www.zillow.com/research/zhvi-user-guide/).

In [58]:
zillow = pd.read_csv(RAW_DATA_DIR / "Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month_adjusted.csv", date_format='%Y-%m-%d', parse_dates=[2,3,4,5,6,])

# Filter rows where the STATE column is 'CA'
zillow = zillow[zillow['State'] == 'CA']

# Filter the house value for Dec 31st of each year
non_date_cols = ['RegionName', 'State']
date_cols = pd.date_range(start='2015-12-31', periods=10, freq='YE').strftime('%m/%d/%Y').tolist()
columns_to_keep = non_date_cols + date_cols

# Keep only those columns (skip missing ones to avoid KeyError)
existing_cols = [col for col in columns_to_keep if col in zillow.columns]
zillow = zillow[existing_cols]

# Rename columns to have a consistent format
zillow.columns = non_date_cols + zillow[date_cols].columns.str.slice(-4).tolist()

# Dropping data that weren't interested in 
cols_to_drop = ['State', '2015', '2016', '2017', '2022', '2023', '2024']
zillow.drop(columns=cols_to_drop, inplace=True)

# Renaming columns for clarity
zillow.rename(columns={'RegionName': 'ZIP Code',
                          '2018': 'Zillow Home Value 2018 ($)',
                          '2019': 'Zillow Home Value 2019 ($)',
                          '2020': 'Zillow Home Value 2020 ($)',
                          '2021': 'Zillow Home Value 2021 ($)'}, inplace=True)
                          
zillow['ZIP Code'] = zillow['ZIP Code'].astype(str)
zillow.dropna(inplace=True)
zillow.set_index('ZIP Code', inplace=True)

zillow.head()

,Zillow Home Value 2018 ($),Zillow Home Value 2019 ($),Zillow Home Value 2020 ($),Zillow Home Value 2021 ($)
ZIP Code,,,,
90011,443282.5808,459312.4160,506920.1260,560746.1110
90650,513295.6656,526093.8573,581498.8551,660390.8548
91331,504148.1256,516199.8496,576276.3692,643635.0577
90044,474820.6675,498004.1190,549195.7913,618134.0289
92336,452715.2279,465611.3794,508069.8122,623341.2874

In [59]:
# calculating mean and change over time
zillow['Zillow Mean Home Value ($)'] = zillow[['Zillow Home Value 2018 ($)', 'Zillow Home Value 2019 ($)', 'Zillow Home Value 2020 ($)', 'Zillow Home Value 2021 ($)']].mean(axis=1)
zillow['% Change - Zillow Home Value'] = zillow[['Zillow Home Value 2018 ($)', 'Zillow Home Value 2021 ($)']].pct_change(axis=1).iloc[:, 1]


zillow.sample(3)

,Zillow Home Value 2018 ($),Zillow Home Value 2019 ($),Zillow Home Value 2020 ($),Zillow Home Value 2021 ($),Zillow Mean Home Value ($),% Change - Zillow Home Value
ZIP Code,,,,,,
95605,3.068797e+05,3.188198e+05,3.529208e+05,4.004381e+05,3.447646e+05,0.304870
93616,2.564898e+05,2.770893e+05,2.903313e+05,3.290710e+05,2.882453e+05,0.282979
94305,2.680949e+06,2.509053e+06,2.615213e+06,2.951873e+06,2.689272e+06,0.101055

## <a id='toc1_4_'></a>[Disaster Data](#toc0_)

Tiana TODO: can you add a brief description about this dataset?


Leo: I'm starting from [cleaned_climate_disasters.csv](../data/cleaned_climate_disasters.csv). Tiana --> do you have the code before getting to this point.

*** IMPORTANT NOTE: Disaster data is published at county level. Therefore, we consider that every zipcode in a given county was affect by the disaster.

In [60]:
disasters = pd.read_csv(DATA_DIR / 'cleaned_climate_disasters.csv')
disasters.sample(3)

         ZIP  DATE DISASTER
38403  93648  1995    Storm
43043  91723  1992    Other
37940  92586  1995    Storm

In [61]:
range1 = list(range(2022-1, 2022))
range3 = list(range(2022-3, 2022))
range5 = list(range(2022-5, 2022))
range10 = list(range(2022-10, 2022))

In [62]:
all_disasters = pd.pivot_table(disasters, index='ZIP', columns='DATE', aggfunc='count', fill_value=0)
all_disasters.columns = [x[1] for x in all_disasters.columns]

all_disasters['All Disasters 1y'] = all_disasters[range1].sum(axis=1)
all_disasters['All Disasters 3y'] = all_disasters[range3].sum(axis=1)
all_disasters['All Disasters 5y'] = all_disasters[range5].sum(axis=1)
all_disasters['All Disasters 10y'] = all_disasters[range10].sum (axis=1)

all_disasters.iloc[:, -4:].sample(5)

       All Disasters 1y  All Disasters 3y  All Disasters 5y  All Disasters 10y
ZIP
94552                 0                 2                 2                  3
93427                 2                 5                 9                 11
96063                 2                 5                 6                  8
91962                 0                 2                 2                  3
95490                 3                 7                10                 15

In [63]:
fire_disasters = disasters[disasters['DISASTER'] == 'Fire'].copy()
fire_disasters = pd.pivot_table(fire_disasters, index='ZIP', columns='DATE', aggfunc='count', fill_value=0)

fire_disasters.columns = [x[1] for x in fire_disasters.columns]

fire_disasters['Fire Disasters 1y'] = fire_disasters[range1].sum(axis=1)
fire_disasters['Fire Disasters 3y'] = fire_disasters[range3].sum(axis=1)
fire_disasters['Fire Disasters 5y'] = fire_disasters[range5].sum(axis=1)
fire_disasters['Fire Disasters 10y'] = fire_disasters[range10].sum (axis=1)

fire_disasters.iloc[:, -4:].sample(5)

,Fire Disasters 1y,Fire Disasters 3y,Fire Disasters 5y,Fire Disasters 10y
ZIP,,,,
93524,1,3,3,5
95042,0,2,2,3
94167,0,2,2,3
95834,0,2,2,3
92286,0,2,2,3

In [64]:
climate_disasters = pd.concat([all_disasters.iloc[:, -4:], fire_disasters.iloc[:, -4:]], axis=1)
climate_disasters.index.name = 'ZIP Code'
climate_disasters.index = climate_disasters.index.astype(str)

climate_disasters.sample(3)

,All Disasters 1y,All Disasters 3y,All Disasters 5y,All Disasters 10y,Fire Disasters 1y,Fire Disasters 3y,Fire Disasters 5y,Fire Disasters 10y
ZIP Code,,,,,,,,
91612,0,2,2,3,0,2,2,3
92501,0,4,7,11,0,3,5,8
95320,1,3,3,4,0,2,2,3

## Consolidating data

In [ ]:
dfs = [housing, renewals_reworked, premiums_reworked, fair, zillow, climate_disasters, white_pop, median_income]

In [157]:
concat = pd.concat(dfs, axis=1)
concat.sample(10)

,Housing Units,Median Gross Rent ($),Median Owner Cost ($),Median Home Value - Census ($),New Policies,Renewed Policies,Nonrenewed Policies (by Owner),Nonrenewed Policies (by Company),Nonrenewed Policies,Expiring Policies,...,All Disasters 5y,All Disasters 10y,Fire Disasters 1y,Fire Disasters 3y,Fire Disasters 5y,Fire Disasters 10y,Avg % White-only Pop,% Change White-only Pop,Avg Median Income,% Change Median Income
ZIP Code,,,,,,,,,,,,,,,,,,,,,
95543,NaN,NaN,NaN,NaN,133.0,971.0,71.0,50.0,121.0,1092.0,...,5.0,7.0,0.0,3.0,3.0,4.0,72.271429,-9.7,39120.285714,-0.094353
90607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,17.0,0.0,5.0,8.0,11.0,45.857143,-16.4,NaN,NaN
91921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,0.0,2.0,2.0,3.0,64.514286,-17.8,NaN,NaN
95666,3822.0,875.0,586.0,288400.0,2317.0,9178.0,1141.0,1090.0,2231.0,11409.0,...,9.0,12.0,1.0,3.0,3.0,6.0,83.642857,-9.2,66873.714286,0.528561
91716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,0.0,2.0,2.0,3.0,45.857143,-16.4,NaN,NaN
95843,15229.0,1779.0,584.0,361900.0,6905.0,42386.0,5687.0,860.0,6547.0,48933.0,...,5.0,6.0,0.0,2.0,2.0,3.0,53.957143,-11.5,83578.142857,0.333779
91762,19099.0,1490.0,590.0,437700.0,7095.0,39239.0,4321.0,1008.0,5329.0,44568.0,...,9.0,12.0,0.0,3.0,3.0,5.0,53.542857,-22.8,64950.857143,0.426976
93218,196.0,1167.0,338.0,134500.0,87.0,480.0,66.0,41.0,107.0,587.0,...,8.0,9.0,2.0,4.0,5.0,6.0,64.100000,-36.3,43070.000000,2.291426
92187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,0.0,2.0,2.0,3.0,64.514286,-17.8,NaN,NaN
93067,NaN,NaN,NaN,NaN,194.0,1296.0,129.0,32.0,161.0,1457.0,...,9.0,11.0,1.0,3.0,6.0,7.0,68.928571,-20.4,NaN,NaN

In [166]:
for i in concat.sort_index().index:
    print(i)

90001
90002
90003
90004
90005
90006
90007
90008
90009
90010
90011
90012
90013
90014
90015
90016
90017
90018
90019
90020
90021
90022
90023
90024
90025
90026
90027
90028
90029
90030
90031
90032
90033
90034
90035
90036
90037
90038
90039
90040
90041
90042
90043
90044
90045
90046
90047
90048
90049
90050
90051
90052
90053
90054
90055
90056
90057
90058
90059
90060
90061
90062
90063
90064
90065
90066
90067
90068
90069
90070
90071
90072
90073
90074
90075
90076
90077
90078
90079
90080
90081
90082
90083
90084
90086
90087
90088
90089
90090
90091
90093
90094
90095
90096
90099
90101
90102
90103
90134
90189
90201
90202
90209
90210
90211
90212
90213
90220
90221
90222
90223
90224
90230
90231
90232
90233
90239
90240
90241
90242
90245
90247
90248
90249
90250
90251
90254
90255
90260
90261
90262
90263
90264
90265
90266
90267
90270
90272
90274
90275
90277
90278
90280
90290
90291
90292
90293
90294
90295
90296
90301
90302
90303
90304
90305
90306
90307
90308
90309
90310
90311
90312
90313
90397
90398
90401
90402
90403
90404
90405
90406
90407
90408
90409
90410
90411
90501
90502
90503
90504
90505
90506
90507
90508
90509
90510
90601
90602
90603
90604
90605
90606
90607
90608
90609
90610
90612
90620
90621
90622
90623
90624
90630
90631
90632
90633
90637
90638
90639
90640
90650
90651
90652
90659
90660
90661
90662
90670
90671
90680
90701
90702
90703
90704
90706
90707
90710
90711
90712
90713
90714
90715
90716
90717
90720
90721
90723
90731
90732
90733
90734
90740
90742
90743
90744
90745
90746
90747
90748
90749
90755
90801
90802
90803
90804
90805
90806
90807
90808
90809
90810
90813
90814
90815
90822
90831
90832
90833
90834
90835
90840
90842
90844
90845
90846
90847
90848
90853
90888
90895
90899
91001
91003
91006
91007
91008
91009
91010
91011
91012
91016
91017
91020
91021
91023
91024
91025
91030
91031
91040
91041
91042
91043
91046
91066
91077
91101
91102
91103
91104
91105
91106
91107
91108
91109
91110
91114
91115
91116
91117
91118
91121
91123
91124
91125
91126
91129
91131
91182
91184
91185
91188
91189
91191
91199
91201
91202
91203
91204
91205
91206
91207
91208
91209
91210
91214
91221
91222
91224
91225
91226
91301
91302
91303
91304
91305
91306
91307
91308
91309
91310
91311
91313
91316
91319
91320
91321
91322
91324
91325
91326
91327
91328
91329
91330
91331
91333
91334
91335
91337
91340
91341
91342
91343
91344
91345
91346
91350
91351
91352
91353
91354
91355
91356
91357
91358
91359
91360
91361
91362
91363
91364
91365
91367
91371
91372
91376
91377
91380
91381
91382
91383
91384
91385
91386
91387
91388
91390
91392
91393
91394
91395
91396
91399
91401
91402
91403
91404
91405
91406
91407
91408
91409
91410
91411
91412
91413
91416
91423
91426
91432
91436
91470
91482
91495
91496
91497
91499
91501
91502
91503
91504
91505
91506
91507
91508
91510
91521
91522
91523
91526
91601
91602
91603
91604
91605
91606
91607
91608
91609
91610
91611
91612
91614
91615
91616
91617
91618
91701
91702
91706
91708
91709
91710
91711
91714
91715
91716
91719
91720
91722
91723
91724
91729
91730
91731
91732
91733
91734
91735
91737
91739
91740
91741
91743
91744
91745
91746
91747
91748
91749
91750
91752
91754
91755
91756
91758
91759
91760
91761
91762
91763
91764
91765
91766
91767
91768
91769
91770
91771
91772
91773
91775
91776
91778
91780
91784
91785
91786
91788
91789
91790
91791
91792
91793
91795
91797
91798
91799
91801
91802
91803
91804
91841
91896
91899
91901
91902
91903
91905
91906
91908
91909
91910
91911
91912
91913
91914
91915
91916
91917
91921
91931
91932
91933
91934
91935
91941
91942
91943
91944
91945
91946
91947
91948
91950
91951
91962
91963
91976
91977
91978
91979
91980
91987
91990
92001
92003
92004
92007
92008
92009
92010
92011
92013
92014
92018
92019
92020
92021
92022
92023
92024
92025
92026
92027
92028
92029
92030
92033
92036
92037
92038
92039
92040
92046
92049
92051
92052
92054
92055
92056
92057
92058
92059
92060
92061
92064
92065
92066
92067
92068
92069
92070
92071
92072
92074
92075
92077
92078
92079
92081
92082
92083
92084
92085
92086
92087
92088
92090
92091
92092
92093
92096
92101
92102
92103
92104
92105
92106
92107
92108
92109
92110
92111
92112
92113
92114
92115
92116
92117
92118
92119
92120
92121
92122
92123
92124
92126
92127
92128
92129
92130
92131
92132
92133
92134
92135
92136
92137
92138
92139
92140
92142
92143
92145
92147
92149
92150
92152
92153
92154
92155
92158
92159
92160
92161
92162
92163
92164
92165
92166
92167
92168
92169
92170
92171
92172
92173
92174
92175
92176
92177
92178
92179
92182
92184
92186
92187
92190
92191
92192
92193
92194
92195
92196
92197
92198
92199
92201
92202
92203
92210
92211
92220
92222
92223
92225
92226
92227
92230
92231
92232
92233
92234
92235
92236
92239
92240
92241
92242
92243
92244
92247
92248
92249
92250
92251
92252
92253
92254
92255
92256
92257
92258
92259
92260
92261
92262
92263
92264
92266
92267
92268
92270
92273
92274
92275
92276
92277
92278
92280
92281
92282
92283
92284
92285
92286
92292
92301
92302
92304
92305
92307
92308
92309
92310
92311
92312
92313
92314
92315
92316
92317
92318
92320
92321
92322
92323
92324
92325
92326
92327
92328
92329
92331
92332
92333
92334
92335
92336
92337
92338
92339
92340
92341
92342
92343
92344
92345
92346
92347
92349
92350
92352
92353
92354
92355
92356
92357
92358
92359
92363
92364
92365
92366
92368
92369
92370
92371
92372
92373
92374
92375
92376
92377
92378
92382
92384
92385
92386
92389
92391
92392
92393
92394
92395
92397
92398
92399
92401
92402
92403
92404
92405
92406
92407
92408
92410
92411
92412
92413
92414
92415
92418
92423
92424
92427
92501
92502
92503
92504
92505
92506
92507
92508
92509
92513
92514
92515
92516
92517
92518
92519
92521
92522
92530
92531
92532
92536
92539
92543
92544
92545
92546
92548
92549
92551
92552
92553
92554
92555
92556
92557
92561
92562
92563
92564
92567
92570
92571
92572
92581
92582
92583
92584
92585
92586
92587
92589
92590
92591
92592
92593
92595
92596
92599
92602
92603
92604
92605
92606
92607
92609
92610
92612
92614
92615
92616
92617
92618
92619
92620
92621
92623
92624
92625
92626
92627
92628
92629
92630
92631
92633
92635
92637
92641
92643
92645
92646
92647
92648
92649
92650
92651
92652
92653
92654
92655
92656
92657
92658
92659
92660
92661
92662
92663
92665
92666
92667
92668
92670
92672
92673
92674
92675
92676
92677
92678
92679
92680
92683
92684
92685
92686
92687
92688
92690
92691
92692
92693
92694
92697
92698
92701
92702
92703
92704
92705
92706
92707
92708
92709
92710
92711
92712
92714
92725
92728
92735
92763
92780
92781
92782
92799
92801
92802
92803
92804
92805
92806
92807
92808
92809
92811
92812
92814
92815
92816
92817
92821
92822
92823
92825
92831
92832
92833
92834
92835
92836
92837
92838
92840
92841
92842
92843
92844
92845
92846
92850
92856
92857
92859
92860
92861
92862
92863
92864
92865
92866
92867
92868
92869
92870
92871
92877
92878
92879
92880
92881
92882
92883
92885
92886
92887
92899
93001
93002
93003
93004
93005
93006
93007
93009
93010
93011
93012
93013
93014
93015
93016
93020
93021
93022
93023
93024
93030
93031
93032
93033
93034
93035
93036
93040
93041
93042
93043
93044
93060
93061
93062
93063
93064
93065
93066
93067
93093
93094
93099
93101
93102
93103
93105
93106
93107
93108
93109
93110
93111
93116
93117
93118
93120
93121
93130
93140
93150
93160
93190
93199
93201
93202
93203
93204
93205
93206
93207
93208
93210
93212
93215
93216
93218
93219
93220
93221
93222
93223
93224
93225
93226
93227
93230
93232
93234
93235
93237
93238
93239
93240
93241
93242
93243
93244
93245
93246
93247
93249
93250
93251
93252
93254
93255
93256
93257
93258
93260
93261
93262
93263
93265
93266
93267
93268
93270
93271
93272
93274
93275
93276
93277
93278
93279
93280
93282
93283
93285
93286
93287
93290
93291
93292
93301
93302
93303
93304
93305
93306
93307
93308
93309
93311
93312
93313
93314
93380
93381
93382
93383
93384
93385
93386
93387
93388
93389
93390
93401
93402
93403
93405
93406
93407
93408
93409
93410
93412
93420
93421
93422
93423
93424
93426
93427
93428
93429
93430
93432
93433
93434
93435
93436
93437
93438
93440
93441
93442
93443
93444
93445
93446
93447
93448
93449
93450
93451
93452
93453
93454
93455
93456
93457
93458
93460
93461
93463
93464
93465
93475
93483
93501
93502
93504
93505
93510
93512
93513
93514
93515
93516
93517
93518
93519
93522
93523
93524
93526
93527
93528
93529
93530
93531
93532
93534
93535
93536
93539
93541
93542
93543
93544
93545
93546
93549
93550
93551
93552
93553
93554
93555
93556
93558
93560
93561
93562
93563
93581
93584
93586
93590
93591
93592
93596
93599
93601
93602
93603
93604
93605
93606
93607
93608
93609
93610
93611
93612
93613
93614
93615
93616
93618
93619
93620
93621
93622
93623
93624
93625
93626
93627
93628
93629
93630
93631
93633
93634
93635
93636
93637
93638
93639
93640
93641
93642
93643
93644
93645
93646
93647
93648
93649
93650
93651
93652
93653
93654
93656
93657
93660
93661
93662
93664
93665
93666
93667
93668
93669
93670
93673
93675
93701
93702
93703
93704
93705
93706
93707
93708
93709
93710
93711
93712
93714
93715
93716
93717
93718
93720
93721
93722
93723
93724
93725
93726
93727
93728
93729
93730
93737
93740
93741
93744
93745
93747
93750
93755
93760
93761
93764
93765
93771
93772
93773
93774
93775
93776
93777
93778
93779
93780
93784
93786
93790
93791
93792
93793
93794
93844
93888
93901
93902
93905
93906
93907
93908
93912
93915
93920
93921
93922
93923
93924
93925
93926
93927
93928
93930
93932
93933
93940
93942
93943
93944
93950
93953
93954
93955
93960
93962
94002
94005
94010
94011
94013
94014
94015
94016
94017
94018
94019
94020
94021
94022
94023
94024
94025
94026
94027
94028
94030
94035
94037
94038
94039
94040
94041
94042
94043
94044
94060
94061
94062
94063
94064
94065
94066
94070
94074
94080
94083
94085
94086
94087
94088
94089
94096
94098
94101
94102
94103
94104
94105
94106
94107
94108
94109
94110
94111
94112
94114
94115
94116
94117
94118
94119
94120
94121
94122
94123
94124
94125
94126
94127
94128
94129
94130
94131
94132
94133
94134
94135
94136
94137
94138
94139
94140
94141
94142
94143
94144
94145
94146
94147
94150
94151
94152
94153
94154
94155
94156
94157
94158
94159
94160
94161
94162
94163
94164
94165
94166
94167
94168
94169
94170
94171
94172
94175
94177
94188
94199
94203
94204
94205
94206
94207
94208
94209
94211
94229
94230
94232
94234
94235
94236
94237
94239
94240
94244
94245
94246
94247
94248
94249
94250
94252
94254
94256
94257
94258
94259
94261
94262
94263
94267
94268
94269
94271
94273
94274
94277
94278
94279
94280
94282
94283
94284
94285
94286
94287
94288
94289
94290
94291
94293
94294
94295
94296
94297
94298
94299
94301
94302
94303
94304
94305
94306
94309
94401
94402
94403
94404
94497
94501
94502
94503
94505
94506
94507
94508
94509
94510
94511
94512
94513
94514
94515
94516
94517
94518
94519
94520
94521
94522
94523
94524
94525
94526
94527
94528
94529
94530
94531
94533
94534
94535
94536
94537
94538
94539
94540
94541
94542
94543
94544
94545
94546
94547
94548
94549
94550
94551
94552
94553
94555
94556
94557
94558
94559
94560
94561
94562
94563
94564
94565
94566
94567
94568
94569
94570
94571
94572
94573
94574
94575
94576
94577
94578
94579
94580
94581
94582
94583
94585
94586
94587
94588
94589
94590
94591
94592
94595
94596
94597
94598
94599
94601
94602
94603
94604
94605
94606
94607
94608
94609
94610
94611
94612
94613
94614
94615
94617
94618
94619
94620
94621
94622
94623
94624
94625
94649
94659
94660
94661
94662
94666
94701
94702
94703
94704
94705
94706
94707
94708
94709
94710
94712
94720
94801
94802
94803
94804
94805
94806
94807
94808
94820
94834
94850
94901
94903
94904
94912
94913
94914
94915
94920
94922
94923
94924
94925
94926
94927
94928
94929
94930
94931
94933
94937
94938
94939
94940
94941
94942
94945
94946
94947
94948
94949
94950
94951
94952
94953
94954
94955
94956
94957
94960
94963
94964
94965
94966
94970
94971
94972
94973
94974
94975
94976
94977
94978
94979
94998
94999
95001
95002
95003
95004
95005
95006
95007
95008
95009
95010
95011
95012
95013
95014
95015
95017
95018
95019
95020
95021
95023
95024
95026
95030
95031
95032
95033
95035
95036
95037
95038
95039
95041
95042
95043
95044
95045
95046
95050
95051
95052
95053
95054
95055
95056
95060
95061
95062
95063
95064
95065
95066
95067
95070
95071
95072
95073
95075
95076
95077
95101
95103
95106
95108
95109
95110
95111
95112
95113
95115
95116
95117
95118
95119
95120
95121
95122
95123
95124
95125
95126
95127
95128
95129
95130
95131
95132
95133
95134
95135
95136
95138
95139
95140
95141
95148
95150
95151
95152
95153
95154
95155
95156
95157
95158
95159
95160
95161
95164
95170
95172
95173
95190
95191
95192
95193
95194
95196
95201
95202
95203
95204
95205
95206
95207
95208
95209
95210
95211
95212
95213
95214
95215
95219
95220
95221
95222
95223
95224
95225
95226
95227
95228
95229
95230
95231
95232
95233
95234
95236
95237
95240
95241
95242
95245
95246
95247
95248
95249
95250
95251
95252
95253
95254
95255
95257
95258
95267
95269
95296
95297
95301
95303
95304
95305
95306
95307
95309
95310
95311
95312
95313
95314
95315
95316
95317
95318
95319
95320
95321
95322
95323
95324
95325
95326
95327
95328
95329
95330
95333
95334
95335
95336
95337
95338
95340
95341
95343
95344
95345
95346
95347
95348
95350
95351
95352
95353
95354
95355
95356
95357
95358
95360
95361
95363
95364
95365
95366
95367
95368
95369
95370
95372
95373
95374
95375
95376
95377
95378
95379
95380
95381
95382
95383
95385
95386
95387
95388
95389
95391
95397
95401
95402
95403
95404
95405
95406
95407
95408
95409
95410
95412
95415
95416
95417
95418
95419
95420
95421
95422
95423
95424
95425
95426
95427
95428
95429
95430
95431
95432
95433
95435
95436
95437
95439
95440
95441
95442
95443
95444
95445
95446
95448
95449
95450
95451
95452
95453
95454
95456
95457
95458
95459
95460
95461
95462
95463
95464
95465
95466
95467
95468
95469
95470
95471
95472
95473
95476
95480
95481
95482
95485
95486
95487
95488
95490
95492
95493
95494
95497
95501
95502
95503
95511
95514
95518
95519
95521
95524
95525
95526
95527
95528
95531
95532
95534
95536
95537
95538
95540
95542
95543
95545
95546
95547
95548
95549
95550
95551
95552
95553
95554
95555
95556
95558
95559
95560
95562
95563
95564
95565
95567
95568
95569
95570
95571
95573
95585
95587
95589
95595
95601
95602
95603
95604
95605
95606
95607
95608
95609
95610
95611
95612
95613
95614
95615
95616
95617
95618
95619
95620
95621
95623
95624
95625
95626
95627
95628
95629
95630
95631
95632
95633
95634
95635
95636
95637
95638
95639
95640
95641
95642
95644
95645
95646
95648
95650
95651
95652
95653
95654
95655
95656
95658
95659
95660
95661
95662
95663
95664
95665
95666
95667
95668
95669
95670
95671
95672
95673
95674
95675
95676
95677
95678
95679
95680
95681
95682
95683
95684
95685
95686
95687
95688
95689
95690
95691
95692
95693
95694
95695
95696
95697
95698
95699
95701
95703
95709
95712
95713
95714
95715
95717
95720
95721
95722
95724
95726
95728
95733
95735
95736
95741
95742
95746
95747
95757
95758
95759
95762
95763
95765
95776
95798
95799
95811
95812
95813
95814
95815
95816
95817
95818
95819
95820
95821
95822
95823
95824
95825
95826
95827
95828
95829
95830
95831
95832
95833
95834
95835
95836
95837
95838
95840
95841
95842
95843
95851
95852
95853
95860
95862
95864
95865
95866
95867
95887
95894
95899
95901
95903
95910
95912
95913
95914
95915
95916
95917
95918
95919
95920
95922
95923
95924
95925
95926
95927
95928
95929
95930
95932
95934
95935
95936
95937
95938
95939
95940
95941
95942
95943
95944
95945
95946
95947
95948
95949
95950
95951
95953
95954
95955
95956
95957
95958
95959
95960
95961
95962
95963
95965
95966
95967
95968
95969
95970
95971
95972
95973
95974
95975
95976
95977
95978
95979
95980
95981
95982
95983
95984
95986
95987
95988
95991
95992
95993
96001
96002
96003
96006
96007
96008
96009
96010
96011
96013
96014
96015
96016
96017
96019
96020
96021
96022
96023
96024
96025
96027
96028
96029
96031
96032
96033
96034
96035
96037
96038
96039
96040
96041
96044
96046
96047
96048
96049
96050
96051
96052
96054
96055
96056
96057
96058
96059
96061
96062
96063
96064
96065
96067
96068
96069
96070
96071
96073
96074
96075
96076
96078
96079
96080
96084
96085
96086
96087
96088
96089
96090
96091
96092
96093
96094
96095
96096
96097
96099
96101
96103
96104
96105
96106
96107
96108
96109
96110
96111
96112
96113
96114
96115
96116
96117
96118
96119
96120
96121
96122
96123
96124
96125
96126
96127
96128
96129
96130
96132
96133
96134
96135
96136
96137
96140
96141
96142
96143
96145
96146
96148
96150
96151
96152
96154
96155
96156
96157
96158
96160
96161
96162

# <a id='toc2_'></a>[OLD CODE](#toc0_)

## <a id='toc2_1_'></a>[FAIR Plan 2 (2020-2024)](#toc0_)

This dataset contains FAIR Plan information for multiple years (2020-24) as well as information about the total exposure. However, it doesn't include data about the total market policies like the previous dataset.

Also, there are data for residential and commercial policies, but this notebook only deals with residential ones.

In [ ]:
# Policies
columns_pol = ['ZIP Code', 
               'growth_pol_23_24', 'policies_24',
               'growth_pol_22_23', 'policies_23',
               'growth_pol_21_22', 'policies_22',
               'growth_pol_20_21', 'policies_21',
               'policies_20']
fair2_pol = pd.read_excel(RAW_DATA_DIR / 'CFP5yearPIFGrowthbyzipcodethrough09302024(Residential+line)20241112v001_unlocked.xlsx', names=columns_pol)

# Exposure
columns_exp = ['ZIP Code', 
               'growth_exp_23_24', 'exposure_24',
               'growth_exp_22_23', 'exposure_23',
               'growth_exp_21_22', 'exposure_22',
               'growth_exp_20_21', 'exposure_21',
               'exposure_20']
fair2_exp = pd.read_excel(RAW_DATA_DIR / 'CFP5yearTIVGrowthbyzipcodethrough09302024(Residentialline)20241112v001_unlocked.xlsx', names=columns_exp)

In [81]:
# removing rows that doesn't contain actual data (totals, etc.)
from pandas.api.types import is_integer, is_number

fair2_pol = fair2_pol[fair2_pol['ZIP Code'].apply(is_integer)].copy()
fair2_exp = fair2_exp[fair2_exp['ZIP Code'].apply(is_integer)].copy()

fair2_pol.shape, fair2_exp.shape

((1647, 10), (1647, 10))

In [82]:
fair2_exp.head(3)

,ZIP Code,growth_exp_23_24,exposure_24,growth_exp_22_23,exposure_23,growth_exp_21_22,exposure_22,growth_exp_20_21,exposure_21,exposure_20
2,94501,0.676,98431342,0.179,58719416,0.137,49797731,0.091,43791971,40143917
3,94502,13.274,6880050,0.025,481983,1.85,470279,0,165000,165000
4,94536,1.995,40642190,0.852,13571624,0.307,7327808,0.264,5605823,4435256

In [83]:
fair2_pol.head(3)

,ZIP Code,growth_pol_23_24,policies_24,growth_pol_22_23,policies_23,growth_pol_21_22,policies_22,growth_pol_20_21,policies_21,policies_20
2,94501,0.333,104,0.04,78,-0.063,75,0,80,80
3,94502,2.5,7,0,2,1,2,0,1,1
4,94536,2.105,59,0.727,19,0.222,11,-0.1,9,10

In [84]:
# merging datasets
fair2 = pd.merge(fair2_pol, fair2_exp, on='ZIP Code')
fair2.head()

,ZIP Code,growth_pol_23_24,policies_24,growth_pol_22_23,policies_23,growth_pol_21_22,policies_22,growth_pol_20_21,policies_21,policies_20,growth_exp_23_24,exposure_24,growth_exp_22_23,exposure_23,growth_exp_21_22,exposure_22,growth_exp_20_21,exposure_21,exposure_20
0,94501,0.333,104,0.04,78,-0.063,75,0,80,80,0.676,98431342,0.179,58719416,0.137,49797731,0.091,43791971,40143917
1,94502,2.5,7,0,2,1,2,0,1,1,13.274,6880050,0.025,481983,1.85,470279,0,165000,165000
2,94536,2.105,59,0.727,19,0.222,11,-0.1,9,10,1.995,40642190,0.852,13571624,0.307,7327808,0.264,5605823,4435256
3,94538,1.4,24,0.667,10,0.2,6,0.25,5,4,1.445,15574256,1.647,6370385,0.771,2406677,0.352,1358996,1004964
4,94539,2.471,59,1.125,17,1.667,8,-0.25,3,4,1.934,79814473,0.983,27207162,2.696,13722261,-0.094,3712311,4096084

In [85]:
fair2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ZIP Code          1649 non-null   object
 1   growth_pol_23_24  1649 non-null   object
 2   policies_24       1649 non-null   object
 3   growth_pol_22_23  1649 non-null   object
 4   policies_23       1649 non-null   object
 5   growth_pol_21_22  1649 non-null   object
 6   policies_22       1649 non-null   object
 7   growth_pol_20_21  1649 non-null   object
 8   policies_21       1649 non-null   object
 9   policies_20       1649 non-null   object
 10  growth_exp_23_24  1649 non-null   object
 11  exposure_24       1649 non-null   object
 12  growth_exp_22_23  1649 non-null   object
 13  exposure_23       1649 non-null   object
 14  growth_exp_21_22  1649 non-null   object
 15  exposure_22       1649 non-null   object
 16  growth_exp_20_21  1649 non-null   object
 17  exposure_21       1649 non-null   object
 18  exposure_20       1649 non-null   object
dtypes: object(19)
memory usage: 244.9+ KB

In [86]:
# convert all columns to float and set to 0 empty values
def clean_non_ints(val):
    return 0 if is_number(val) == False else val

fair2 = fair2.map(clean_non_ints)

In [ ]:
fair2.to_csv(DATA_DIR / 'fair_plan.csv')

## <a id='toc2_2_'></a>[FEMA Projected Premium Increases (2021, 2025)](#toc0_)

FEMA created a methodology to predict monthly prices increases (Risk Rating 2.0) and publishes zipcode-level data based on it. The data consists of $10-increment columns with number of policies that they predict to change. They also have data for all the policies and for only single-housing units.

https://www.fema.gov/flood-insurance/risk-rating/profiles

In [ ]:
fema = pd.read_excel(RAW_DATA_DIR / 'fema_risk-rating-zip-breakdown-california_2021.xlsx', header=3, sheet_name='SFH Zip Count')

# drop State column and Grand Total row
fema.drop(columns='State', inplace=True)
fema = fema[fema.columns[:-1]]

fema.tail()

,Zip Code,< -$100,$-100 to $-90,$-90 to $-80,$-80 to $-70,$-70 to $-60,$-60 to $-50,$-50 to $-40,$-40 to $-30,$-30 to $-20,...,$10 to $20,$20 to $30,$30 to $40,$40 to $50,$50 to $60,$60 to $70,$70 to $80,$80 to $90,$90 to $100,> $100
1456,96161,6.0,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,CA Total of ZIPs w/ <5 Policies,43.0,4.0,4.0,5.0,4.0,7.0,4.0,5.0,5.0,...,29.0,7.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1458,CA Unknown ZIP,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,00052 <5 Policies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,NaN,7464.0,814.0,934.0,1277.0,1519.0,1835.0,1977.0,2094.0,2372.0,...,10326.0,3132.0,611.0,109.0,46.0,16.0,1.0,7.0,3.0,8.0

In [104]:
# removing totals and zipcodes with less than 5 policies and other non-zipcode-level data
fema = fema[fema['Zip Code'].str.len() == 5]

# replace NaN for 0 and force int (instead of float)
fema[fema.columns[1:]] = fema[fema.columns[1:]].replace(np.nan, 0).apply(pd.to_numeric).astype(int)

fema

,Zip Code,< -$100,$-100 to $-90,$-90 to $-80,$-80 to $-70,$-70 to $-60,$-60 to $-50,$-50 to $-40,$-40 to $-30,$-30 to $-20,...,$10 to $20,$20 to $30,$30 to $40,$40 to $50,$50 to $60,$60 to $70,$70 to $80,$80 to $90,$90 to $100,> $100
2,90004,1,0,0,0,2,0,0,0,1,...,2,0,0,0,0,0,0,0,0,0
3,90005,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
4,90006,0,0,0,0,0,0,0,0,0,...,7,0,0,0,0,0,0,0,0,0
5,90007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,90008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,96145,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
1453,96146,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1454,96148,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1455,96150,10,2,0,1,1,0,1,1,1,...,8,7,0,0,0,0,0,0,0,0
1456,96161,6,1,0,0,2,0,0,1,0,...,7,0,0,0,0,0,0,0,0,0

The original data is binned in very small buckets ($10 changes), which makes the information very hard to digest. I'll simplify to only 6 buckets and multiply for 12 months, to get the annual change.

In [105]:
# creating the bins
bin50_100_minus = fema.columns[2:7]
bin0_50_minus = fema.columns[7:12]
bin0_50 = fema.columns[12:17]
bin50_100 = fema.columns[17:22]


new_df = {'ZIP Code': fema['Zip Code'],
          '< -$100': fema['< -$100'],
          '-$100 to -$50': np.sum(fema[bin50_100_minus], axis=1),
          '-$50 to -$0': np.sum(fema[bin0_50_minus], axis=1),
          '$0 to $50': np.sum(fema[bin0_50], axis=1),
          '$50 to $100': np.sum(fema[bin50_100], axis=1),
          '> $100': fema['> $100']
}

projs = pd.DataFrame(new_df)
projs.sample(5)

,ZIP Code,< -$100,-$100 to -$50,-$50 to -$0,$0 to $50,$50 to $100,> $100
1310,95825,6,6,371,434,0,0
612,93221,3,2,5,20,0,0
110,90621,0,0,0,29,0,0
1115,95370,2,0,1,31,0,0
1377,96001,11,9,17,195,0,0

In [106]:
projs['n_decrease'] = np.sum(projs[projs.columns[1:4]], axis=1)
projs['n_increase'] = np.sum(projs[projs.columns[4:7]], axis=1)
projs['ratio_inc_to_dec'] = projs['n_decrease'] / projs['n_increase']
projs.sample(3)

,ZIP Code,< -$100,-$100 to -$50,-$50 to -$0,$0 to $50,$50 to $100,> $100,n_decrease,n_increase,ratio_inc_to_dec
1204,95565,1,0,2,3,0,0,3,3,1.000000
752,93657,13,23,24,111,0,0,60,111,0.540541
97,90405,0,0,0,55,0,0,0,55,0.000000

In [107]:
projs.to_csv(DATA_DIR / 'premium_change2021.csv')